<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">

    <body>
        <div class="big">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <h3><a href="#">Item Catalog</a></h3>
                </div>
                <div class="login">
                    {% if 'username' in login_session %}
                        {{ login_session['username'] }}, <a href="{{ url_for('gdisconnect')}}">Click Here to Logout</a>
                    {% else %}
                        <a href="{{ url_for('showLogin')}}">Log In</a>
                    {% endif %}
                </div>
            </div>
            <div class="body">
                <div class="catagory">
                    {% block sidebar %}
                    {% endblock %}
                </div>
                <div class="block">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>
