{% extends "catalog.html" %}
{% block content %}
        <div class="deleteprompt">
        <h2>Are you sure you want to delete {{item.name}}?</h2>
        </div>

        <div>
        <form action="{{url_for('deleteItem', category_id=category_id, item_id=item.id)}}" method="POST" style="text-align:center;">
            <input type="submit" value="Delete Forever" id="delete">
        </form>
        </div>

        <div class="cancel">
        <a class="btncan" href="{{url_for('showCategory', category_id=category_id)}}">Cancel</a>
        </div>
{% endblock %}